*{

    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif ;
    height: 100%;
}

.profil{
    background-color: rgb(230, 230, 230);
    display: flex;
    width: 100%;
    height: 100%;
}
.left {
    background-color: white;
    margin: 1rem;
    margin-left: 5rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5em rgb(70, 70, 70);
}
.contact{
    display: flex;
    flex-direction: column;
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(sofian.JPG);
    background-position-y: top;
    background-position-X: center;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo h1{
    margin-left: 1rem;
    font-size: x-large;
}
.photo h2{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: larger;
}

.competences{
    margin: rem;
}
.bars{
    margin-left: 4rem;
    margin-right: 6rem;
}
.skill{
    margin-bottom: 2rem;
}
.skills{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.skills i {
    margin-left: 1rem;
    font-size: 1.9rem;

}
.contact{
    margin: 1rem;
}
.adresse{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.mail{
    margin-bottom: 1rem;
}
.right {
    
    margin: 1rem;
    margin-right: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
}
.experience{
    background-color: white;
    box-shadow: 0 0 0.5em rgb(70, 70, 70);
    padding-bottom: 1rem;
}
.education {
    margin-top: 2rem;
   box-shadow: 0 0 0.5em rgb(70, 70, 70);
   background-color: white;
   padding-bottom: 1rem;
   padding-left: 1rem;
}

a{
    text-decoration: none;
    color: black;
}
.right h2{
    margin: 1rem;
  }
.experience .icone{
    margin-left: 1rem;
}

.titre{
    margin: 1rem;
}
  ul{
      padding-left: 2.5rem; 
  }

.date{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: #198754;
}
.lieu{
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.icone{
    display: flex;
    align-items: center;
}
.icone i {
    font-size: 2rem;
}
.right h4{
    margin-bottom: -0.1rem;
}
.education .date h4{
    margin-left: 0.2rem;
}
.education .lieu i {
    margin-left: -0.2rem;
}
i{
    color: #198754;
    margin-right: 1rem;
}
hr{
    border-bottom: 0.5px solid rgb(151, 151, 151);
    margin-left: 4rem;
    margin-right: 4rem;
}

.education .line {
    margin-bottom: 1rem;
}
@media only screen and (max-width : 1300px) {

    .left{
        margin-left: 1rem;
    }
    .right{
        margin-right: 1rem;
    }
    
}
@media only screen and (max-width : 768px) {
    .profil{
        flex-wrap: wrap;
    }
    .left{
        width: 100%;
    }
    .photo{
        background-position-y: top;
    }
   
    
}
footer{
    background:rgb(204, 204, 204);

    bottom:0;
    width:100%;
    height:25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}
.reseau i{
    color: white;
    font-size: 2rem;
}
.mention{
    
    color: white;
    text-align: center;
  
}